[submodule "memleak-finder"]
	path = memleak-finder
	url = https://github.com/efficios/memleak-finder
[submodule "malloc_count"]
	path = malloc_count
	url = https://github.com/bingmann/malloc_count
[submodule "mleak"]
	path = mleak
	url = https://github.com/hyc/mleak
[submodule "count-malloc"]
	path = count-malloc
	url = https://github.com/zunda/count-malloc
[submodule "malloc-lab"]
	path = malloc-lab
	url = https://github.com/htian/malloc-lab
[submodule "memalloc"]
	path = memalloc
	url = https://github.com/brightroll/memalloc
[submodule "libmallochooks"]
	path = libmallochooks
	url = https://github.com/stephenrkell/libmallochooks
[submodule "malloc_wrap"]
	path = malloc_wrap
	url = https://github.com/ice799/malloc_wrap
[submodule "malloc_instrumentation"]
	path = malloc_instrumentation
	url = https://github.com/jtolds/malloc_instrumentation
[submodule "memory-wrapper"]
	path = memory-wrapper
	url = https://github.com/meetrp/memory-wrapper
[submodule "wrap_malloc"]
	path = wrap_malloc
	url = https://github.com/tohin/wrap_malloc
[submodule "Memory-Leak-Tracer"]
	path = Memory-Leak-Tracer
	url = https://github.com/tahardi/Memory-Leak-Tracer
