[submodule "memleak-finder"]
	path = memleak-finder
	url = https://github.com/efficios/memleak-finder
[submodule "malloc_count"]
	path = malloc_count
	url = https://github.com/bingmann/malloc_count
[submodule "mleak"]
	path = mleak
	url = https://github.com/hyc/mleak
[submodule "count-malloc"]
	path = count-malloc
	url = https://github.com/zunda/count-malloc
[submodule "malloc-lab"]
	path = malloc-lab
	url = https://github.com/htian/malloc-lab
[submodule "memalloc"]
	path = memalloc
	url = https://github.com/brightroll/memalloc
[submodule "libmallochooks"]
	path = libmallochooks
	url = https://github.com/stephenrkell/libmallochooks
[submodule "malloc_wrap"]
	path = malloc_wrap
	url = https://github.com/ice799/malloc_wrap
[submodule "malloc_instrumentation"]
	path = malloc_instrumentation
	url = https://github.com/jtolds/malloc_instrumentation
[submodule "memory-wrapper"]
	path = memory-wrapper
	url = https://github.com/meetrp/memory-wrapper
[submodule "Memory-Leak-Tracer"]
	path = Memory-Leak-Tracer
	url = https://github.com/tahardi/Memory-Leak-Tracer
[submodule "libumem"]
	path = libumem
	url = https://github.com/gburd/libumem
[submodule "drmemory"]
	path = drmemory
	url = https://github.com/DynamoRIO/drmemory
[submodule "valgrind-trunk-3"]
	path = valgrind-trunk-3
	url = https://github.com/svn2github/valgrind-trunk-3
[submodule "mpatrol"]
	path = mpatrol
	url = https://github.com/groleo/mpatrol
[submodule "electric-fence"]
	path = electric-fence
	url = https://github.com/CheggEng/electric-fence
[submodule "cstuff"]
	path = cstuff
	url = https://github.com/MoserMichael/cstuff
